
#mainDiv{
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

#name{
    font-size: 100px;
}
#aboutDiv{
    margin-top: 75px;
    text-align: center;
}
.proj{
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}
#myProj{
    margin-bottom: 25px;
}